/*IE8 compatibility*/
body {
	margin: 0;
   	background-color: antiquewhite;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
   	font-size: 100%;
}

#header {
    width: 100%;
    text-align: center;
    background: antiquewhite url(./panoramica-800.jpg) center no-repeat;
}

#header h1 {
	text-transform: uppercase;
	color: white;
}

ul#menu {
    border: 1px solid #000;
    background-color: cadetblue;
}

#menu li {
    color: #fff;
    border-bottom: 1px solid #216B9A;
    text-decoration: none;
}

#menu li {
    text-align: left;
    list-style: none;
}

li a {
    color: #FFF;
}

li a:hover {
    color: #000;
    font-weight: bold;
}

li a:active {
    color: red;
    font-weight: bold;
}

li a:focus:hover {
    color: #DA622E;
}

li a:focus {
    border: 1px solid red;
}

a {
    text-decoration: none;
    color: #DA622E;
}

#nav h2 {
    white-space: nowrap;
    overflow: hidden;
    color: #111;
}

#main {
	width: 100%;
    background-color: #FFF;
    float: left;
}

#aside {
	background-color: #999;
}

#aside p{
    color:white;
}


/*Image fluid desing solution*/
p img {
    max-width: 100%;
}

h2 {
    font-weight: bold;
    margin: 0;
}

section h2 {
    color: #166BA1;
}

.boldTitle {
    font-weight: bold;
}

#noColor{
    background-color: #FFF;
}


article, aside, footer, header, hgroup, main, nav, section {
    display: block;
}

dl {
    padding: 0em 1em;
}

#main dt {
    background-color: #eee;
    clear: left;
}


#main dd {
    float: left;
    width: 40%;
}

fieldset {
    padding: 2em;
}

/*Form*/
form label, form input, form select, form textarea {
    display: block;
    float: left;  
    margin-bottom: 0.5em;
}

form input[type=text], form input[type=email], form textarea {
    width: 100%;
}

form label {
    width: 100%;    
}

form .dateMonth {
    width: 40%;
    
}

form .dateDay, form .dateYear{
    width: 30%;
}

form #message {
    float: left;
}

/* End Form*/
 
/*Promo*/
#promo {
    float: left;
    width: 100%;
}

#linkHide {
    float: right;
} 

body {
    margin: 0 2em;
}

body {
    margin: 0 2em;
}
    
#header, #nav, #aside, #main {
    float: left;
}
    
#nav, #aside {
    width: 25%;
}

#main {
    width: 45%;
    margin:0 1em;
}







